<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Item</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <style>
        form-page-container {
            background-color: #133A1B;
        }

        form-container {
            background-color: #B7BF96
        }
    </style>
    <div class="form-page-container">
        <div class="form-container">
            
                
                <form action="/upload-photo" enctype="multipart/form-data" method="POST">
                    <input type="file" name="image" />
                    <button class="button" type="submit" >Upload</button>

                </form>
                    
                    

                
            
            

        </div>
    </div>

    

    
</body>

</html>